---
layout: default
---

<main>

  <section>
      <h2>{{ site.title }}</h2>
      <h2>{{ site.description }}</h2>
  </section>
<hr />
    <section>
    <p><a href="/torrential-noise/index.html"><h2>Torrential Noise: 1724 Records and the Asian Post-Rock Soundscape</h2></a></p>
    <p>Paper presented at the <a href="https://interasiapop.org/conferences/the-6th-iapms-conference-in-beijing-china-2018/">6th Inter-Asia Popular Music Studies (IAPMS) conference</a>, Communication University of China, Beijing, China, 9-10 June 2018.</p>
    <p><a href="/imagine/index.html"><h2>#IMAGINE: Performance &amp;  Ritual in an Age of Global Insecurity</h2></a></p>
    <p>Paper presented at the Cultural Typhoon conference, Tokyo University of the Arts (GEIDAI), Tokyo, Japan, 2 July 2016</p>
    </section>
<hr />
<!--
  <div>
    {% for post in paginator.posts %}
      <article itemscope itemtype="http://schema.org/BlogPosting" role="article">

          <header>
            <h3 itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h3>
          </header>

          <div class="post-meta">
            <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
          </div>

          <section itemprop="description">
            {{ post.content | markdownify }}
          </section>

      </article>
    {% endfor %}
  </div>
-->
    
  <nav role="navigation">
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo;</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>&raquo;</span>
      {% endif %}
    </div>
    {% endif %}
  </nav>

</main>

{% include footer.html %}
